<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Edit User</title>
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link th:href="@{dashboard.css}" rel="stylesheet">
  </head>
  
  <body>
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">NGO Donations</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h3 class="w-100"> User Name (ADMIN) </h3>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" th:href="@{/}">Sign out</a>
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-linkactive" aria-current="page" th:href="@{/users}">
              <span data-feather="home"></span>
              User Management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/events}">
              <span data-feather="file"></span>
              Event Management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/donations}">
              <span data-feather="shopping-cart"></span>
              Donations
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit User</h1>
      </div>
	<form class="form-floating mb-3" action="#" th:action="@{/update_user}" th:object="${user}" method="post">

		<div class="mb-3">
			<label for="fnameInput">First Name</label>
			<input type="text" th:field="*{firstName}" class="form-control" id="fnameInput" placeholder="first name" th:value="${user.firstName}">
		</div>
		
		<div class="mb-3">
			<label for="lnameInput">Last Name</label>
			<input type="text" th:field="*{lastName}" class="form-control" id="lnameInput" placeholder="last name" th:value="${user.lastName}">
		</div>
		
		<div class="mb-3">
			<label for="cmaNumInput">CMA Number</label>
			<input type="number" th:field="*{cmaNumber}" class="form-control" id="cmaNumInput" placeholder="CMA Number" th:value="${user.cmaNumber}">
		</div>
		
		<div class="mb-3">
			<label for="phoneInput">Phone Number</label>
			<input type="text" th:field="*{phoneNumber}" class="form-control" id="phoneInput" placeholder="Phone Number" th:value="${user.phoneNumber}">
		</div>
			
		<div class="mb-3">
			<label for="emailInput">Email</label>
			<input type="email" th:field="*{email}" class="form-control" id="emailInput" placeholder="email" th:value="${user.email}">
		</div>
		
		<div class="mb-3">
			<label for="passInput">Password</label>
			<input type="password" th:field="*{password}" class="form-control" id="passInput" placeholder="Password" th:value="${user.password}">
		</div>
		
		<div class="mb-3">
			<label for="addr1Input">Address 1</label>
			<input type="text" th:field="*{address1}" class="form-control" id="addr1Input" placeholder="Address 1" th:value="${user.address1}">
		</div>
		
		<div class="mb-3">
			<label for="addr2Input">Address 1</label>
			<input type="text" th:field="*{address2}" class="form-control" id="addr2Input" placeholder="Address 2" th:value="${user.address2}">
		</div>
		
		<div class="mb-3">
			<label for="cityInput">City</label>
			<input type="text" th:field="*{city}" class="form-control" id="cityInput" placeholder="City" th:value="${user.city}">
		</div>
		
		<div class="mb-3">
			<label for="stateInput">State</label>
			<input type="text" th:field="*{state}" class="form-control" id="stateInput" placeholder="State" th:value="${user.state}">
		</div>
		
		<div class="mb-3">
			<label for="zipInput">Zip Code</label>
			<input type="number" th:field="*{zip}" class="form-control" id="zipInput" placeholder="Zip Code" th:value="${user.zip}">
		</div>
		
		<div class="mb-3">
			<label for="countryInput">Country</label>
			<input type="text" th:field="*{country}" class="form-control" id="countryInput" placeholder="Country" th:value="${user.country}">
		</div>
		
		<div class="mb-3">
			<label for="urbInput">Urbanization</label>
			<input type="text" th:field="*{urbanization}" class="form-control" id="urbInput" placeholder="Urbanization" th:value="${user.urbanization}">
		</div>
		
		<div class="mb-3">
			<label for="adminInput">Admin</label>
			<select class="form-control" th:field="*{admin}" id="adminInput" th:value="${user.admin}">
				<option value=false>No</option>
				<option value=true>Yes</option>
			</select>
		</div>
		<button type="submit" class="btn btn-dark">Submit</button>
	</form>
    </main>
  </div>
</div>

<!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
  
  
  </html>